<p>Pesquise por clientes</p>
<div class="search-container">
  <input type="text" class="search-input" [(ngModel)]="searchQuery" placeholder="Digite o nome do cliente">
  <button class="search-button" (click)="searchClients()"><i class="fas fa-search"></i></button>
</div>

<div class="cards-container">
  <div class="card">
    <h3>Últimas compras</h3>
    <p>Aqui você pode ver as últimas compras dos clientes</p>
  </div>
  <div class="card">
    <h3>Últimas promoções</h3>
    <p>Aqui você pode ver as últimas promoções enviadas aos clientes</p>
  </div>
  <div class="card">
    <h3>Data de aniversário</h3>
    <p>Aqui você pode ver as datas de aniversário dos clientes</p>
  </div>
  <div class="card">
    <h3>Últimas campanhas publicitárias</h3>
    <p>Aqui você pode ver as últimas campanhas publicitárias realizadas</p>
  </div>
  <div class="card">
    <h3>Atividades recentes</h3>
    <p>Aqui você pode ver as atividades mais recentes dos clientes</p>
  </div>
  <div class="card">
    <h3>Tendências de compra</h3>
    <p>Aqui você pode ver as tendências de compra dos clientes</p>
  </div>
  <div class="card">
    <h3>Feedback dos clientes</h3>
    <p>Aqui você pode ver o feedback recebido dos clientes</p>
  </div>
  <div class="card">
    <h3>Interesses dos clientes</h3>
    <p>Aqui você pode ver os interesses dos clientes</p>
  </div>
  <div class="card">
    <h3>Churn de clientes</h3>
    <p>Aqui você pode ver a taxa de churn dos clientes</p>
  </div>
</div>