<div class="welcome-screen">
  <mat-card>
    <mat-card-content>
      <mat-card-title-group>
        <div mat-card-avatar class="welcome-avatar">
          <div class="menu-container-pic">
            <img [src]="user.avatar" alt="">
          </div>
        </div>
        <div>
          <mat-card-title>Olá, seja bem-vindo ao Helmet</mat-card-title>
          <mat-card-subtitle>Seu gerenciador de relacionamento com clientes</mat-card-subtitle>
        </div>
      </mat-card-title-group>
    </mat-card-content>
    <mat-card-content>
      <p>Explore todas as funcionalidades incríveis do Helmet e simplifique sua gestão de relacionamento com
        clientes.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/home/clientes">Começar</button>
    </mat-card-actions>
  </mat-card>
</div>
