
<section>
  <div class="menu-container-pic">
    <div class="container-title">Menu</div>
    <div>
      <img [src]="user.avatar" alt="">
    </div>
    <small>{{user.nome}}</small>
  </div>
  <form [formGroup]="form">
    <div class="container-basic">
      <div class="input-style" formGroupName="updateUser">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="nome" formControlName="nome" type="text">
          <mat-error>O campo nome é obrigatorio</mat-error>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="input-style" formGroupName="updateUser">

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Avatar</mat-label>
            <mat-select formControlName="avatar" name="avatar">
              <mat-option *ngFor="let avatares of avatar;let i = index" [value]="avatares">
                {{avatares}}
              </mat-option>
            </mat-select>
            <mat-error>Usuario não pode ser nulo</mat-error>
          </mat-form-field>

      </div>

      <div class="input-style" formGroupName="updateUser">

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Cores Sistema</mat-label>
          <mat-select formControlName="cor" name="cor">
            <mat-option *ngFor="let color of themes;let i = index" [value]="color">
              {{color}}
            </mat-option>
          </mat-select>
          <mat-error>Usuario não pode ser nulo</mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="container-basic">
      <div class="input-style" formGroupName="updateUser">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="meuemailexample@email.com" formControlName="email" type="email">
          <mat-error>O campo email é obrigatorio</mat-error>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="input-style" formGroupName="updateUser">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="********" formControlName="senha" type="password">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error>Senha deve ser maior que 5 cacteres</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="container-btn">
    <button mat-raised-button color="primary"  (click)="setUser(form)" [disabled]="!form.valid"
            style="font-family: 'Poppins', sans-serif">Atualizar</button>
  </div>
</section>
