<section>
    <div class="navigation-container">
        <div class="navigation">
            <div class="menu-container-pic">
                <div class="container-title">Menu</div>
                <div>
                    <img src="/assets/profile.svg" alt="">
                </div>
              <small>{{userView.nome}}</small>
            </div>

            <div class="container-menu">
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/clientes" class="container-list" >
                      <i class="fa-solid fa-user"></i>
                      <p>Clientes</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/tarefa"  class="container-list" >
                      <i class="fa-solid fa-users"></i>
                      <p>Tarefas</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/pedidos" class="container-list">
                      <i class="fa-solid fa-chart-simple"></i>
                      <p>Pedidos</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">
                    <a  routerLink="/relatorios" class="container-list">
                      <i class="fa-solid fa-file-pdf"></i>
                      <p>Relatorios</p>

                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">
                    <a  routerLink="/configuration" class="container-list">
                      <i class="fa-solid fa-gear"></i>
                      <p>Configurações</p>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="container-content">
        <router-outlet></router-outlet>
    </div>
</section>

