
<section>
    <div class="navigation-container">
        <div class="navigation">
            <div class="menu-container-pic">
                <div class="container-title">Menu</div>
                <div>
                    <img [src]="userView.avatar" alt="">
                </div>
              <small>{{userView.nome}}</small>
            </div>

            <div class="container-menu">
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/home/clientes" class="container-list" >
                      <i class="fa-solid fa-user"></i>
                      <p>Clientes</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/home/tarefa"  class="container-list" >
                      <i class="fa-solid fa-users"></i>
                      <p>Tarefas</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">

                    <a  routerLink="/home/produtos" class="container-list">
                      <i class="fa-solid fa-chart-simple"></i>
                      <p>Produtos</p>
                    </a>
                </div>
                <div class="option-menu-container" routerLinkActive="selected">
                    <a  routerLink="/home/relatorios" class="container-list">
                      <i class="fa-solid fa-file-pdf"></i>
                      <p>Relatorios</p>

                    </a>
                </div>
              <div class="option-menu-container" routerLinkActive="selected">
                <a  routerLink="/home/avaliacoes" class="container-list">
                  <i class="fas fa-star"></i>
                  <p>Avaliações</p>
                </a>
              </div>
                <div class="option-menu-container" routerLinkActive="selected">
                    <a  routerLink="/home/configuration" class="container-list">
                      <i class="fa-solid fa-gear"></i>
                      <p>Configurações</p>
                    </a>
                </div>
            </div>
        </div>
      <div class="left">
        <button>
          <i class="fa-solid fa-arrow-left"></i>
          <p routerLink="">Sair</p>
        </button>

      </div>

    </div>


    <div class="container-content">
        <router-outlet></router-outlet>
    </div>
</section>

